@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url(./css/header.css);
@import url(./css/main.css);
@import url(./css/footer.css);
@import url(./css/adicionarCard.css);


:root {
    --cor-de-nav: #5D04D9;
    --cor-de-background: #FFD707;
    --cor-de-paragrafo: #FFFFFF;
    --main-bg-color: linear-gradient(180deg, #8B1FF8 0%, #041832 48.44%, #01080E 100%);
}

*{
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    box-sizing: border-box;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
    background: url("./imagens/glowing-spaceship-orbits-planet-starry-galaxy-generated-by-ai.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}


.mensagem__titulo{
    color: var(--cor-de-paragrafo);
    font-size: 2rem;
}


.fa-regular.fa-trash-can {
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    color: var(--cor-de-paragrafo);
    transition: color 0.3s ease; /* Animação suave na mudança de cor */
}

.fa-regular.fa-trash-can:hover {
    color: #ff0000; /* Cor ao passar o mouse */
}